.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(31, 20, 10, 0.85);
    z-index: 100;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #facc15;
}

section {
    margin-bottom: 180px; 
}


.section h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

