.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.project-card {
    max-width: 800px;

}

.project-image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 24px;
    border-radius: 12px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

.project-title {
    color: #facc15;
    font-size: 2.3rem;
    margin-bottom: 16px;
}

.project-card p {
    font-size: 1.1rem;
    line-height: 1.7;
}

#works {
    padding: 120px 10%;
}

